In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df_train=pd.read_csv("./train.csv")
df_test=pd.read_csv("./test.csv")
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#数据清洗

#保存训练集的Survived
survived_train=df_train.Survived
#将训练集和测试集union,为了处理确实数据和数据数字化
data=pd.concat([df_train.drop(['Survived'],axis=1),df_test])
data.info()
#可以看出Age,Embarked,Cabin有数据丢失

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1046 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

In [6]:
#填充NAN数据
data['Age']=data.Age.fillna(data.Age.median())
data['Fare']=data.Fare.fillna(data.Fare.median())
data['Embarked']=data.Embarked.fillna('S')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1309 non-null float64
Cabin          295 non-null object
Embarked       1309 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

In [7]:
#将Sex数字化
data=pd.get_dummies(data,columns=['Sex','Embarked'],drop_first=True)

In [8]:
data=data[['Pclass','Age','SibSp','Parch','Fare','Sex_male','Embarked_Q','Embarked_S']]
data.head()

   Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0       3  22.0      1      0   7.2500         1           0           1
1       1  38.0      1      0  71.2833         0           0           0
2       3  26.0      0      0   7.9250         0           0           1
3       1  35.0      1      0  53.1000         0           0           1
4       3  35.0      0      0   8.0500         1           0           1

In [15]:
#将训练集和测试集分离
data_train=data.iloc[:891].T.values
data_test=data.iloc[891:].T.values
target=survived_train.values.reshape(1,891)

numpy.int64

In [ ]:
ln=0.004
x=data_train
m=x.shape[1]
w=np.random.randn(1,x.shape[0])*0.01
b=np.zeros((1,1))
for i in range(1000000):
    z=np.dot(w,x)+b
    a=1/(1+np.exp(-z))
    j=np.sum(-(target*np.log(a)+(1-target)*np.log(1-a)))/m
    dz=a-target
    dw=np.dot(dz,x.T)/m
    db=np.sum(dz)/m
    w-=ln*dw
    b-=ln*db
print(j)

In [ ]:
test_data=data_test
z=np.dot(w,test_data)
a=1/(1+np.exp(-z))
test_target=np.zeros((1,test_data.shape[1]),dtype=int)
test_target[0][a[0]>=0.5]=1
df_test['Survived']=test_target[0]
df_test[['PassengerId','Survived']].to_csv("./test_target.csv",index=False)

In [17]:
#第一层的激活函数使用tanh
def g1(z1):
    return (np.exp(z1)-np.exp(-z1))/(np.exp(z1)+np.exp(-z1))
def g1Prime(z1):
    a=g1(z1)
    return 1-np.square(a)
#第二层的激活函数使用sigmod
def g2(z2):
    return 1/(1+np.exp(-z2))
def g2Prime(z2):
    a=g1(z2)
    return a-np.square(a)

In [ ]:
#使用两层的神经网络处理线性不可分的数据
#第零层为数据输入层
#第二层为隐藏层(神经元个数为8)
#第三层为输出层(神经元个数为1)
ln=0.025
x=data_train
m=x.shape[1]
hidden_node=10
w1=np.random.randn(hidden_node,x.shape[0])*0.01
b1=np.zeros((hidden_node,1))
w2=np.random.randn(1,hidden_node)*0.01
b2=np.zeros((1,1))
for i in xrange(50000):
    z1=np.dot(w1,x)+b1
    a1=g1(z1)
    z2=np.dot(w2,a1)+b2
    a2=g2(z2)
    #cost function
    L=np.sum(-(target*np.log(a2)+(1-target)*np.log(1-a2)),axis=1,keepdims=True)/m
    dz2=a2-target
    dw2=np.dot(dz2,a1.T)/m
    db2=np.sum(dz2,axis=1,keepdims=True)/m
    dz1=np.dot(w2.T,dz2)*g1Prime(z1)
    dw1=np.dot(dz1,x.T)/m
    db1=np.sum(dz1)/m
    w2-=ln*dw2
    b2-=ln*db2
    w1-=ln*dw1
    b1-=ln*db1
print(L)

In [19]:
test_data=data_test
z1=np.dot(w1,test_data)+b1
a1=g1(z1)
z2=np.dot(w2,a1)+b2
a2=g2(z2)
test_target=np.zeros((1,test_data.shape[1]),dtype=int)
test_target[0][a2[0]>=0.5]=1
df_test['Survived']=test_target[0]
df_test[['PassengerId','Survived']].to_csv("./test_target.csv",index=False)

In [ ]:
#第一层的激活函数使用tanh
def tanh(z1):
    return (np.exp(z1)-np.exp(-z1))/(np.exp(z1)+np.exp(-z1))
def tanhPrime(z1):
    a=g1(z1)
    return 1-np.square(a)
#第二层的激活函数使用sigmod
def sigmod(z2):
    return 1/(1+np.exp(-z2))
def sigmodPrime(z2):
    a=g1(z2)
    return a-np.square(a)

In [20]:
#使用两层的神经网络处理线性不可分的数据
#第零层为数据输入层
#第一层为隐藏层(神经元个数为10)
#第二层为输出层(神经元个数为2)
#第三层为输出层(神经元个数为1)
ln=0.025
x=data_train
m=x.shape[1]
n0=x.shape[0]
n1=10
n2=2
n3=1
w1=np.random.randn(n1,n0)*0.01
b1=np.zeros((n1,1))
w2=np.random.randn(n2,n1)*0.01
b2=np.zeros((n2,1))
w3=np.random.randn(n3,n2)
b3=np.zeros((n3,1))
for i in xrange(100):
    z1=np.dot(w1,x)+b1
    a1=g1(z1)
    z2=np.dot(w2,a1)+b2
    a2=g2(z2)
    
    #cost function
    L=np.sum(-(target*np.log(a2)+(1-target)*np.log(1-a2)),axis=1,keepdims=True)/m
    dz2=a2-target
    dw2=np.dot(dz2,a1.T)/m
    db2=np.sum(dz2,axis=1,keepdims=True)/m
    dz1=np.dot(w2.T,dz2)*g1Prime(z1)
    dw1=np.dot(dz1,x.T)/m
    db1=np.sum(dz1)/m
    w2-=ln*dw2
    b2-=ln*db2
    w1-=ln*dw1
    b1-=ln*db1
print(L)

numpy.float64